body,
.container {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

.container {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}